.caseStudyHero
  width: 100%
  position: relative
  padding-top: 100%
  +mq('tportrait')
    padding-top: 41.84%
  
  .csHeroImg
    overflow: hidden
    display: block
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

    img
      display: block
      width: 100%
  
  .informatic
    position: absolute
    z-index: 505
    bottom: 0
    width: 100%
    display: flex
    flex-flow: column wrap
    align-items: center
    padding: 3rem 0

    h3, h4
      font-size: 3rem
      margin-bottom: .5rem
    
    h3
      color: $white

    h4
      color: $ltgray
    
    .orange
      color: $orange
    
    .green
      color: $green

    .default
      color: $ltgray

  .hasMore
    display: block
    width: 100%
    text-align: center
    padding-top: 2rem

  .csStats
    display: flex
    color: $white
    width: 100%
    max-width: 1000px
    padding: 2rem

    & > div
      flex: 1 1 100%