.caseStudyHero
  +bigHero
  
  & > div:first-of-type
    +heroImg
  
  .informatic
    z-index: 505

    body[class*="single-case-study"] &
      margin-top: 4rem

    +mq($activeBreak)
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

    & > div
      position: relative
      width: 100%
      height: 100%

      & > div
        padding: 4rem 0
        display: flex
        flex-flow: column wrap
        align-items: center

        +mq($activeBreak)
          padding: 4rem 0 2rem
          position: sticky
          transform: translateZ(-1px)
          top: 4rem

        h1, h2, h3, h4
          width: 100%
          text-align: center
          font-size: 1.5rem
          margin-bottom: 1rem
          padding: 0 1rem
          +mq($activeBreak)
            font-size: 3rem
            padding: 0 20%
        
        h1, h3
          color: $white

        h2, h4
          color: $ltgray
        
        .orange
          color: get-color("orange",1)
        
        .green
          color: $green

        .default
          color: $ltgray

  .hasMore
    display: block
    width: 100%
    text-align: center
    padding-top: 2rem

  .csStats
    color: $white
    width: 100%
    max-width: 1000px
    +mq($activeBreak)
      display: flex
      flex-flow: row wrap
      padding: 2rem 2rem 0

    & > div
      text-align: center
      padding-bottom: 1rem
      flex: 1 1 25%

      p
        strong
          font-family: $fontStackH
          font-size: 1.5rem

      p:last-of-type
        font-size: .75rem