.caseStudy
  width: 100%
  position: relative
  padding-top: 100%
  +mq('tportrait')
    padding-top: 56.25%
  
  .scalar
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    +mq('tportrait')
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0