.bioCards

  & > div
    a
      case-study-card
        & > em
          display: block
          font-size: .75rem
          padding-top: .5rem
        
        img
          filter: grayscale(100%)

        svg
          margin-bottom: 1rem

  .bioImg
    margin-bottom: 1rem
    +img1x1