body.page-404-notfound
  main.site-main
    background-color: white
    min-height: 30em
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column wrap

    h1
      margin-bottom: .25em
      font-size: 1rem * 6
      color: $orange