$green: #739600
$orange: #e87622
$blue: #1A4784
$gray: #91A2AC

.agencyIntro
	position: relative
	box-shadow: 0 0 2rem 0 rgba(0,0,0,.5)
	+landingIntro

.content
	background-color: $white
	display: grid

	+mq($activeBreak)
		grid-template-columns: repeat(2, minmax(400px, 1fr))
		grid-auto-rows: 1fr

	& > article
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		padding: 12%

		p
			line-height: 1.5
	
		button
			display: inline-block
			margin-top: 1rem

.valuesIcons
	order: 3
	display: grid
	text-align: center

	+mq('mobile')
		grid-template-columns: repeat(2, minmax(250px, 1fr))

	+mq($activeBreak)
		order: 4

	.valueSquare
		position: relative
		padding-top: 100%

		div
			position: absolute
			top: 3.5rem
			left: 3.5rem
			right: 3.5rem
			bottom: 3.5rem
			display: flex
			flex-flow: column nowrap
			justify-content: center
			align-items: center
			padding: 1rem
			border: .75rem solid $white

			h4
				color: white

			svg
				height: 75%
				width: 90%
					
				path
					stroke: white

		&:first-child
			background-color: #EB710F

			div
				background-color: get-color("green",2)

		&:nth-child(2)
			background-color: #DB6709

			div
				background-color: get-color("orange",2)

		&:nth-child(3)
			background-color: #D05E02

			div
				background-color: get-color("ltgray",2)

		&:nth-child(4)
			background-color: #C15701

			div
				background-color: get-color("blue",2)

h2

	&.blue
		color: $blue
	
	&.orange
		color: $orange

	&.green
		color: $green

.agencyImg
	+img1x1