$green: #739600
$orange: #e87622
$blue: #1A4784
$gray: #91A2AC

.agency
  width: 100%
  position: relative
  margin-top: 3rem
  padding-top: 50%
  overflow: hidden

  +mq($activeBreak)
    margin-top: 0
    padding-top: 56.25%

  .imageContainer, picture
    position: absolute !important
    top: 0
    left: 0
    width: 100%
    height: 100%

.agencyIntro
	box-shadow: 0 0 2rem 0 rgba(0,0,0,.5)
	+landingIntro

.content
	background-color: $white
	display: grid
	grid-template-columns: repeat(2, minmax(400px, 1fr))

	& > article
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		padding: 12%

	p
		line-height: 1.5

.valuesIcons
	display: grid
	grid-template-columns: repeat(2, minmax(200px, 1fr))

	.valueSquare
		position: relative
		padding-top: 100%

		div
			position: absolute
			top: 3.5rem
			left: 3.5rem
			right: 3.5rem
			bottom: 3.5rem
			display: flex
			flex-flow: column nowrap
			justify-content: center
			align-items: center
			padding: 1rem
			border: .75rem solid $white

			h4
				color: white

			svg
				height: 75%
				width: 90%
					
				path
					stroke: white

		&:first-child
			background-color: #EB710F

			div
				background-color: $green

		&:nth-child(2)
			background-color: #DB6709

			div
				background-color: $orange

		&:nth-child(3)
			background-color: #D05E02

			div
				background-color: $gray

		&:last-child
			background-color: #C15701

			div
				background-color: $blue

h2
	text-transform: uppercase

	&.blue
		color: $blue
	
	&.orange
		color: $orange

	&.green
		color: $green

.square
	width: 100%
	padding-top: 100%