.stage_ATF
  figure
    +stageBlock

div[class*="callOutATF"]
  padding: 4rem 2rem 2rem
  text-align: center
  color: $white
  position: relative
  z-index: 99
  background-color: $navy

  +mq($activeBreak)
    padding: 4rem 20% 0

  h1
    color: $orange
    font-size: 3rem
    margin-bottom: 1em

  p
    line-height: 1.5
    margin-bottom: 1.5rem
    
    &:last-of-type
      font-weight: 700
      margin-bottom: 0

.lineArt
  padding: 2rem
  width: 100%
  display: flex
  align-items: flex-end
  +mq($activeBreak)
    padding: 2rem 20% 6rem

  & > div
    width: 100%

  svg
    width: 100%

    path
      stroke: $white
      stroke-dasharray: 1,1518
      stroke-dash-offset: 0

.caseStudies_feature
  transform: translateZ(1)

.blogMedia
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  background: $white

  & > div
    display: flex
    flex-flow: column wrap
    align-items: center
    padding: 2rem

    +mq($activeBreak)
      padding: 4rem

    h4
      font-size: 2rem
      margin-bottom: 1rem

      +mq($activeBreak)
        font-size: 3rem

    div-spacer
      width: 50%
      margin-bottom: 2rem

    a
      width: 100%
      
      & > *:not(:last-child)
        margin-bottom: 1rem

        +mq($activeBreak)
          margin-bottom: 2rem

      p, blog-title
        display: block
        width: 100%

      blog-title
        font-family: $fontStackH
        font-weight: 300

        +mq($activeBreak)
          font-size: 1.5rem
    
  .blog
    h4, blog-title
      color: $green

  .media
    h4, blog-title
      color: $blue