.stage_ATF
  width: 100%
  position: relative
  margin-top: 3rem
  padding-top: 56.25%
  overflow: hidden

  +mq($activeBreak)
    margin-top: 0
    padding-top: 50%

  video, source
    display: block
    +mq($activeBreak)
      height: auto

  video
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate3d(-50%,-50%,0)

.callOutATF
  padding: 6rem 2rem
  text-align: center
  color: $white
  position: relative
  z-index: 99
  background-color: $navy
  +angleBlock
  +angleAdjust

  +mq($activeBreak)
    padding: 6rem 20%

  h1
    color: $orange
    font-size: 3rem
    margin-bottom: 1em

  p
    line-height: 1.5
    margin-bottom: 1.5rem
    
    &:last-of-type
      font-weight: 700

  .lineArt
    padding: 2rem 4rem 0
    width: 100%
    display: flex
    align-items: flex-end
    +mq($activeBreak)
      padding: 2rem 5rem 0

    svg
      width: 100%

      path
        stroke: $white
        stroke-dasharray: 0,1518
        stroke-dash-offset: 0
        animation: drawLineArt 20s ease-in-out 5s infinite both

.caseStudies_feature
  +angleAdjust
  transform: translateZ(1)

  article > div > div
    &:last-of-type
      padding-bottom: $angleDist

.testimonials
  position: relative
  padding: 6rem
  text-align: center
  color: $white
  background-color: $navy
  +angleBlock
  +angleAdjust

  +mq($activeBreak)
    padding: 6rem 25%

  h3
    color: $orange
    font-size: 3rem
    margin-bottom: 1em
  
  p
    line-height: 1.5
    margin-bottom: 1.5rem
    
    &:last-of-type
      font-weight: 700

.blogMedia
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  background: $white
  +angleAdjust
  padding: $angleDist 0

  & > div
    text-align: center
    padding: 4rem

    h4
      font-size: 3rem
      margin-bottom: 1em
  
  .blog
    h4
      color: $green

  .media
    h4
      color: $blue