@keyframes headerSlide
  from
    transform: translate3d(0,-3rem,0)
  to
    transform: translate3d(0,0,0)

@keyframes drawLineArt
  from
    stroke-dasharray: 1,1518
  to
    stroke-dasharray: 1518,1

@keyframes drawLineArtSingle
  from
    stroke-dashoffset: 500
  to
    stroke-dashoffset: 0

@keyframes h6040slideright
  from
    opacity: 0
    transform: translate3d(-1vw,0,0)
  to
    opacity: 1
    transform: translate3d(5vw,0,0)

@keyframes h6040slideleft
  from
    opacity: 0
    transform: translate3d(1vw,0,0)
  to
    opacity: 1
    transform: translate3d(-5vw,0,0)

@keyframes h6040fade
  from
    opacity: 0
  to
    opacity: 1

@keyframes statsIn
  from
    opacity: 0
    transform: translate3d(0,-2rem,0)
  to
    opacity: 1
    transform: translate3d(0,0,0)

.statsIn
  animation-timing-function: cubic-bezier(.25,1.35,.65,.98)
  animation-fill-mode: both
  animation-name: statsIn

  div:nth-of-type(2n+1) &
    animation-delay: 0s

  div:nth-of-type(2n+2) &
    animation-delay: .5s

  div:nth-of-type(2n+3) &
    animation-delay: 1s
  
  div:nth-of-type(2n+4) &
    animation-delay: 1.5s
  
  div:nth-of-type(2n+5) &
    animation-delay: 2s

.h6040fade
  animation: h6040fade 250ms ease-in-out both