@keyframes headerSlide
  from
    transform: translate3d(0,-3rem,0)
  to
    transform: translate3d(0,0,0)

@keyframes drawLineArt
  from
    stroke-dasharray: 1,1518
  to
    stroke-dasharray: 1518,1

@keyframes drawLineArtSingle
  from
    stroke-dashoffset: 500
  to
    stroke-dashoffset: 0

@keyframes h6040slideright
  from
    opacity: 0
    transform: translate3d(-1vw,0,0)
  to
    opacity: 1
    transform: translate3d(5vw,0,0)

@keyframes h6040slideleft
  from
    opacity: 0
    transform: translate3d(1vw,0,0)
  to
    opacity: 1
    transform: translate3d(-5vw,0,0)

@keyframes h6040fade
  from
    opacity: 0
  to
    opacity: 1