@keyframes headerSlide
  from
    transform: translate3d(0,-3rem,0)
  to
    transform: translate3d(0,0,0)

@-webkit-keyframes headerSlide
  from
    transform: translate3d(0,-3rem,0)
  to
    transform: translate3d(0,0,0)

@keyframes drawLineArt
  0%
    stroke-dasharray: 0,1518
  25%
    stroke-dasharray: 1518,0
  100%
    stroke-dasharray: 1518,0

@-webkit-keyframes drawLineArt
  0%
    stroke-dasharray: 0,1518
  25%
    stroke-dasharray: 1518,0
  100%
    stroke-dasharray: 1518,0