.◊◊◊
  font-size: 1rem

.sm
  font-size: .75rem

.lg
  font-size: 1.25rem

.btn
  button
    background-color: transparent
    padding: .5em .75em
    text-transform: uppercase
    border: 2px solid $gray700
    transition: all $transTiming ease-in-out

    &:hover
      color: $white

  .default
    color: $gray700
    &:hover
      background-color: $gray700

  .white
    color: $white
    border-color: $white
    &:hover
      color: $navy
      background-color: $white

  .orange
    color: $orange
    border-color: $orange
    &:hover
      background-color: $orange

  .navy
    color: $navy
    border-color: $navy
    &:hover
      background-color: $navy

  .green
    color: $green
    border-color: $green
    &:hover
      background-color: $green

  .blue
    color: $blue
    border-color: $blue
    &:hover
      background-color: $blue

  .ltgray
    color: $ltgray
    border-color: $ltgray
    &:hover
      background-color: $ltgray