html.header-sticky
  margin-top: 3rem

  header.siteHeader
    position: fixed
    top: 0
    width: 100%
    transition: all 250ms ease-in-out
    animation: 250ms ease-in-out 0ms normal both 1 headerSlide