$orange: get-color('orange',3)

html.header-sticky, body.single:not(.case-study)
  margin-top: 4rem

  header.siteHeader
    position: fixed
    top: 0
    background-color: $white
    transition: all 250ms ease-in-out
    animation: 250ms ease-in-out 0ms normal both 1 headerSlide
    box-shadow: 0 0 1rem 0px rgba(0,0,0,0.95)

    &:hover
      background-color: $white

    .node--logoBox
      svg
        path
          fill: $orange

    .node--siteMenu

      nav
        & > a
          color: $orange

          &:hover
            &:after
              background: $orange

    .node--socialNav

      a
        border-color: $orange

        svg
          path
            fill: $orange

        &:hover
          background-color: $orange
          svg
            path
              fill: $white
            