$orange: get-color('orange',3)

html.header-sticky
  margin-top: 3rem

  header.siteHeader
    position: fixed
    top: 0
    background-color: $white
    transition: transform 250ms ease-in-out
    animation: 250ms ease-in-out 0ms normal both 1 headerSlide
    box-shadow: 0 0 1rem 0px rgba(0,0,0,0.95)

    .node--logoBox
      svg
        path
          fill: $orange

    .node--siteMenu

      a
        color: $orange

        &:hover
          &:after
            background: $orange

    .node--socialNav

      a
        border-color: $orange

        svg
          path
            fill: $orange