.siteHeader
  position: sticky
  z-index: 2000
  background: $white
  display: flex
  align-items: center
  justify-content: center
  +mq('tportrait')
    position: relative

    & > *
      flex: 1 1 100%
      justify-content: center

  & > nav
    flex: 2
    justify-content: center
    +mq('tportrait')
      flex: 1 1 100%

  .logoBox
    padding: .75rem
    text-align: center

    svg
      width: 2.5rem
      height: 2.5rem
  
  .headerMenu
    font-family: $fontStackH
    font-weight: 800
    color: $orange
    text-transform: uppercase
    text-align: center

    nav
      font-size: 125%
      padding-left: 1em
      letter-spacing: 1px
      +mq('tportrait')
        padding-left: 2em

      .slideLink
        +mq('tportrait')
          color: $orange
          position: relative
          display: inline-block
          padding-bottom: 5px

          &:hover
            &:after
              width: 100%
              left: 0
              background: $orange

          &:after
            content: ''
            position: absolute
            width: 0px
            height: 2px
            display: block
            right: 0
            bottom: 0
            background: transparent
            transition: width 250ms ease-in-out

    +mq('tportrait')
      display: block

  .snHeader
    a
      cursor: pointer
      border-color: $orange

      svg
        path
          fill: $orange

      +mq('tportrait')
        &:hover
          border-color: $orange
          background-color: $orange

          svg
            path
              fill: $white